[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Postman
Comment=Postman Integrated Development Environment
Icon=/home/tejas/tejas/software/Postman/app/resources/app/assets/icon.png
Exec=/home/tejas/tejas/software/Postman/app/Postman
StartupNotify=true
StartupWMClass=Postman